{"openapi":"3.1.0","info":{"title":"API 문서","description":"API 명세입니다. 에러 코드는 [링크]를 참조해 주세요.","version":"v1.0.0"},"servers":[{"url":"http://funfun.cloud","description":"Generated server url"}],"security":[{"bearerAuth":[]}],"paths":{"/api/users/info":{"get":{"tags":["user-api-controller"],"summary":"회원 정보 조회","description":"회원 정보를 조회합니다.","operationId":"getUser","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}},"put":{"tags":["user-api-controller"],"summary":"회원 정보 수정","description":"회원 정보를 수정합니다.","operationId":"updateUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserInfoRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/userInfos":{"put":{"tags":["user-info-api-controller"],"summary":"프로필 수정","description":"아래와 같은 형식으로 multipart/form-data 요청을 전송해 주세요.\n\n• image: 프로필 이미지 파일 (예: PNG, JPG 등 이미지 파일만 업로드 가능하게 해주세요.)\n  - 3MB 이하의 파일만 업로드 가능합니다.\n\n• imageChanged: 이미지 변경 여부 (true/false)\n  - true: 이미지가 업로드되거나 삭제됩니다.\n  - false: 서버는 이미지 변경을 무시합니다.\n\n• introduction: 사용자 한 줄 소개 텍스트\n\n• hashTags: 같은 키로 여러 번 전달해야 합니다.\n  - 예시: hashTags=여행, hashTags=음악, hashTags=커피\n","operationId":"updateProfile","requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/ProfileRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/preferences":{"get":{"tags":["preference-api-controller"],"summary":"사용자 취향 조회","description":"사용자 취향을 조회합니다.","operationId":"getContentPreference","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}},"put":{"tags":["preference-api-controller"],"summary":"사용자 취향 수정","description":"선택한 취향으로 수정합니다.","operationId":"updateContentPreference","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PreferenceRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}},"post":{"tags":["preference-api-controller"],"summary":"사용자 취향 등록","description":"선택한 취향을 등록합니다.<br>첫 등록 시에만 사용 가능합니다.","operationId":"createContentPreference","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PreferenceRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/notifications/{id}":{"get":{"tags":["notification-api-controller"],"operationId":"getNotification","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationDTO"}}}}}},"put":{"tags":["notification-api-controller"],"operationId":"updateNotification","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"integer","format":"int64"}}}}}},"delete":{"tags":["notification-api-controller"],"operationId":"deleteNotification","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"No Content"}}}},"/api/notices/{id}":{"get":{"tags":["notice-api-controller"],"operationId":"getNotice","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NoticeDTO"}}}}}},"put":{"tags":["notice-api-controller"],"operationId":"updateNotice","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NoticeDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"integer","format":"int64"}}}}}},"delete":{"tags":["notice-api-controller"],"operationId":"deleteNotice","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"No Content"}}}},"/api/messages/{id}":{"get":{"tags":["message-api-controller"],"operationId":"getMessage","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageDTO"}}}}}},"put":{"tags":["message-api-controller"],"operationId":"updateMessage","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"integer","format":"int64"}}}}}},"delete":{"tags":["message-api-controller"],"operationId":"deleteMessage","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"No Content"}}}},"/api/groups/{groupId}":{"get":{"tags":["group-api-controller"],"summary":"모임 상세 조회","description":"모임을 상세 조회합니다.","operationId":"getGroup","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}},"put":{"tags":["group-api-controller"],"summary":"모임 수정","description":"모임을 수정합니다.","operationId":"updateGroup","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/GroupRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}},"delete":{"tags":["group-api-controller"],"summary":"모임 삭제","description":"모임을 삭제합니다.","operationId":"deleteGroup","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/groupHashtags/{id}":{"get":{"tags":["group-hashtag-api-controller"],"operationId":"getGroupHashtag","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupHashtagDTO"}}}}}},"put":{"tags":["group-hashtag-api-controller"],"operationId":"updateGroupHashtag","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupHashtagDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"integer","format":"int64"}}}}}},"delete":{"tags":["group-hashtag-api-controller"],"operationId":"deleteGroupHashtag","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"No Content"}}}},"/api/faqs/{id}":{"get":{"tags":["faq-api-controller"],"operationId":"getFaqById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}},"put":{"tags":["faq-api-controller"],"operationId":"updateFaq","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FaqUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}},"delete":{"tags":["faq-api-controller"],"operationId":"deleteFaq","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/contentCategories/{id}":{"get":{"tags":["content-category-api-controller"],"operationId":"getContentCategory","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContentCategoryDTO"}}}}}},"put":{"tags":["content-category-api-controller"],"operationId":"updateContentCategory","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContentCategoryDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"integer","format":"int64"}}}}}},"delete":{"tags":["content-category-api-controller"],"operationId":"deleteContentCategory","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"No Content"}}}},"/api/contacts/{contactId}":{"get":{"tags":["contact-api-controller"],"summary":"문의 상세 조회","description":"문의를 상세 조회합니다.","operationId":"getContact","parameters":[{"name":"contactId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}},"put":{"tags":["contact-api-controller"],"summary":"문의 수정","description":"답변 완료 상태가 아닌 문의를 수정합니다.\n\n아래와 같은 형식으로 multipart/form-data 요청을 전송해 주세요.\n\n• title: 문의 제목\n\n• content: 문의 내용\n\n• category: 문의 카테고리 (필수, ENUM 값 중 하나 선택)\n  - 예: GENERAL, REPORT\n\n• images: 문의 관련 이미지 파일들 (선택)\n  - 최대 5개까지 업로드 가능\n  - 각 파일은 3MB 이하의 파일만 업로드 가능합니다.\n  - 같은 키(images)로 여러 개 업로드해야 합니다.\n\n• imagesChanged: 이미지 변경 여부 (true/false)\n  - true: 이미지가 업로드되거나 삭제됩니다.\n  - false: 서버는 이미지 변경을 무시합니다.\n","operationId":"updateContact","parameters":[{"name":"contactId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/ContactRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}},"patch":{"tags":["contact-api-controller"],"summary":"문의 삭제","description":"문의를 삭제(비활성화)합니다.","operationId":"deleteContact","parameters":[{"name":"contactId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/chatBots/{id}":{"get":{"tags":["chat-bot-api-controller"],"operationId":"getChatBot","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatBotDTO"}}}}}},"put":{"tags":["chat-bot-api-controller"],"operationId":"updateChatBot","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatBotDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"integer","format":"int64"}}}}}},"delete":{"tags":["chat-bot-api-controller"],"operationId":"deleteChatBot","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"No Content"}}}},"/api/users/verify/signup":{"post":{"tags":["user-api-controller"],"summary":"회원가입 이메일 인증","description":"회원가입 이메일 인증을 진행합니다.<br>자동으로 로그인됩니다.","operationId":"verifySignup","parameters":[{"name":"code","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/users/verify/nickname":{"post":{"tags":["user-api-controller"],"summary":"닉네임 중복 검사","description":"중복된 닉네임인지 검증합니다.","operationId":"verifyNickname","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NicknameRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/users/verify/code":{"post":{"tags":["user-api-controller"],"summary":"인증 코드 검증","description":"올바른 인증 코드인지 검증합니다.","operationId":"verifyCode","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyCodeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/users/signup":{"post":{"tags":["user-api-controller"],"summary":"회원가입","description":"회원가입을 진행 후 인증 메일을 발송합니다.","operationId":"createUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignupRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/users/send/signup/{email}":{"post":{"tags":["user-api-controller"],"summary":"회원가입 인증 메일 재발송","description":"회원가입 인증 메일을 재발송합니다.<br>쿨타임은 3분이며, 링크는 5분간 유효합니다.","operationId":"resendVerificationSignupMail","parameters":[{"name":"email","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/users/send/code":{"post":{"tags":["user-api-controller"],"summary":"인증 코드 메일 발송","description":"인증 코드 메일을 발송합니다.<br>쿨타임은 3분이며, 인증 코드는 5분간 유효합니다.<br>인증 키는 10분간 유효합니다.","operationId":"sendCode","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/reports":{"post":{"tags":["report-api-controller"],"summary":"신고하기","description":"부적절한 모임 게시글이나 채팅을 신고합니다.","operationId":"createReport","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/participants/{groupId}/reject":{"post":{"tags":["participant-api-controller"],"summary":"모임 참여 거절","description":"userEmails 로 여러 대상의 사용자를 받아서 승인 거절","operationId":"rejectParticipant","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/participants/{groupId}/leave":{"post":{"tags":["participant-api-controller"],"summary":"모임 나가기","description":"모임에서 나가기","operationId":"leaveParticipant","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/participants/{groupId}/kickout":{"post":{"tags":["participant-api-controller"],"summary":"모임 참여자 강퇴","description":"모임 참여자를 강제퇴장","operationId":"kickoutParticipant","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"targetEmail","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/participants/{groupId}/approve":{"get":{"tags":["participant-api-controller"],"summary":"모임 승인 사용자 조회","description":"특정 GROUP 의 TRUE/APPROVE 상태의 사용자 조회","operationId":"approveParticipant","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}},"post":{"tags":["participant-api-controller"],"summary":"모임 참여 승인","description":"userEmails 로 여러 대상의 사용자를 받아서 승인 처리","operationId":"approveParticipant_1","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/participants/{groupId}/apply":{"post":{"tags":["participant-api-controller"],"summary":"모임 신청","description":"그룹 ID 와 사용자 Email 을 통해 모임 신청.","operationId":"applyGroup","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/notifications":{"get":{"tags":["notification-api-controller"],"operationId":"getAllNotifications","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NotificationDTO"}}}}}}},"post":{"tags":["notification-api-controller"],"operationId":"createNotification","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/notices":{"get":{"tags":["notice-api-controller"],"operationId":"getAllNotices","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NoticeDTO"}}}}}}},"post":{"tags":["notice-api-controller"],"operationId":"createNotice","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NoticeDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/messages":{"get":{"tags":["message-api-controller"],"operationId":"getAllMessages","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MessageDTO"}}}}}}},"post":{"tags":["message-api-controller"],"operationId":"createMessage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/groups/{groupId}/complete":{"post":{"tags":["group-api-controller"],"summary":"모임 완료","description":"모임을 완료 처리합니다.","operationId":"completeGroup","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/groups/{groupId}/cancel":{"post":{"tags":["group-api-controller"],"summary":"모임 취소","description":"모임을 취소합니다.","operationId":"cancelGroup","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/groups/create":{"post":{"tags":["group-api-controller"],"summary":"모임 생성","description":"모임을 생성합니다.","operationId":"createGroup","requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/GroupRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/groupHashtags":{"get":{"tags":["group-hashtag-api-controller"],"operationId":"getAllGroupHashtags","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GroupHashtagDTO"}}}}}}},"post":{"tags":["group-hashtag-api-controller"],"operationId":"createGroupHashtag","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupHashtagDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/groupBookmarks/{groupId}":{"post":{"tags":["group-bookmark-api-controller"],"summary":"즐겨찾기 추가(모임)","description":"선택한 모임을 즐겨찾기에 추가합니다.","operationId":"groupBookmarkAdd","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}},"delete":{"tags":["group-bookmark-api-controller"],"summary":"즐겨찾기 삭제(모임)","description":"선택한 모임을 즐겨찾기에서 삭제합니다.","operationId":"groupBookmarkDelete","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/follows/{targetEmail}":{"post":{"tags":["follow-api-controller"],"summary":"팔로우","description":"원하는 사용자를 팔로우 합니다.","operationId":"follow","parameters":[{"name":"targetEmail","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}},"delete":{"tags":["follow-api-controller"],"summary":"언팔로우","description":"팔로우를 취소합니다.","operationId":"unfollow","parameters":[{"name":"targetEmail","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/faqs":{"get":{"tags":["faq-api-controller"],"operationId":"getAllFaqs","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}},"post":{"tags":["faq-api-controller"],"operationId":"createFaq","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FaqCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/contentCategories":{"get":{"tags":["content-category-api-controller"],"operationId":"getAllContentCategories","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ContentCategoryDTO"}}}}}}},"post":{"tags":["content-category-api-controller"],"operationId":"createContentCategory","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContentCategoryDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/contacts":{"get":{"tags":["contact-api-controller"],"summary":"문의 목록 조회","description":"사용자의 문의 목록을 조회합니다.\n\n• status: 상태 필터를 지정할 수 있습니다.\n    - all, pending, complete\n\n• page: 0 ~ N, 보고 싶은 페이지를 지정할 수 있습니다.\n    - 기본값: 0\n\n• size: 기본 페이지당 항목 수\n    - 기본값 : 10\n\n• sort: 정렬\n    - 기본값 : createdAt, DESC (최신순)\n","operationId":"getAllContacts","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string","default":"all"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":10,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","default":["createdAt,DESC"],"items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}},"post":{"tags":["contact-api-controller"],"summary":"문의 작성","description":"아래와 같은 형식으로 multipart/form-data 요청을 전송해 주세요.\n\n• title: 문의 제목\n\n• content: 문의 내용\n\n• category: 문의 카테고리 (필수, ENUM 값 중 하나 선택)\n  - 예: GENERAL, REPORT\n\n• images: 문의 관련 이미지 파일들 (선택)\n  - 최대 5개까지 업로드 가능\n  - 각 파일은 3MB 이하의 파일만 업로드 가능합니다.\n  - 같은 키(images)로 여러 개 업로드해야 합니다.\n\n• imagesChanged: 이미지 변경 여부 (true/false)\n  - true: 이미지가 업로드되거나 삭제됩니다.\n  - false: 서버는 이미지 변경을 무시합니다.\n","operationId":"createContact","requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/ContactRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/chatRooms/personalRooms":{"post":{"tags":["chat-room-api-controller"],"summary":"개인 채팅방 생성","description":"사용자간 1:1 채팅방을 생성합니다.","operationId":"createPersonalChatRoom","parameters":[{"name":"targetUserEmail","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/chatBots":{"get":{"tags":["chat-bot-api-controller"],"operationId":"getAllChatBots","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChatBotDTO"}}}}}}},"post":{"tags":["chat-bot-api-controller"],"operationId":"createChatBot","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatBotDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/calendars":{"post":{"tags":["calendar-api-controller"],"summary":"캘린더 일정 등록","description":"선택한 컨텐츠 일정을 캘린더에 등록합니다.","operationId":"addCalendar","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CalendarContentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/auth/login":{"post":{"tags":["auth-api-controller"],"summary":"로그인","description":"로그인 성공 시 AccessToken 쿠키와 RefreshToken 쿠키를 발급합니다.","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/users":{"patch":{"tags":["user-api-controller"],"summary":"회원 탈퇴","description":"회원을 탈퇴(비활성화) 합니다.<br>자동으로 로그아웃됩니다.","operationId":"unActiveUser","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/users/change/password":{"patch":{"tags":["user-api-controller"],"summary":"비밀번호 변경","description":"인증 코드로 인증된 사용자에 한해서 비밀번호 변경을 진행합니다.","operationId":"changePassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangePasswordRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/users/change/nickname":{"patch":{"tags":["user-api-controller"],"summary":"닉네임 변경","description":"닉네임 변경을 합니다.","operationId":"changeNickname","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NicknameRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/calendars/{calendarId}":{"delete":{"tags":["calendar-api-controller"],"summary":"캘린더 일정 삭제","description":"선택한 컨텐츠 일정을 캘린더에서 삭제합니다.","operationId":"deleteCalendar","parameters":[{"name":"calendarId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}},"patch":{"tags":["calendar-api-controller"],"summary":"캘린더 일정 수정","description":"선택한 컨텐츠 일정을 수정합니다.","operationId":"updateCalendar","parameters":[{"name":"calendarId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CalendarUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/admin/users/{email}/suspend":{"patch":{"tags":["admin-user-api-controller"],"operationId":"suspendUser","parameters":[{"name":"email","in":"path","required":true,"schema":{"type":"string"}},{"name":"duration","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"reason","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/userInfos/{email}":{"get":{"tags":["user-info-api-controller"],"summary":"유저 상세 조회","description":"유저의 상세 정보를 이메일로 조회합니다.<br><br>\n응답 필드 설명:<br>\n- email: 이메일<br>\n- nickname: 닉네임<br>\n- introduction: 한 줄 소개<br>\n- imageUrl: 프로필 이미지 URL<br>\n- hashtags: 해시태그 리스트<br>\n- followerCount: 팔로워 수<br>\n- followingCount: 팔로잉 수<br>\n- groupLeadCount: 본인이 주최한 완료된 모임 수<br>\n- groupJoinCount: 본인이 참여한 완료된 모임 수 (리더 제외)\n","operationId":"getUserDetail","parameters":[{"name":"email","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/participants/{groupId}/pending":{"get":{"tags":["participant-api-controller"],"summary":"모임 신청 사용자 조회","description":"특정 GROUP 의 TRUE/PENDING 상태의 사용자 조회","operationId":"pendingParticipant","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/groups/search":{"get":{"tags":["group-api-controller"],"summary":"모임 검색 및 조회","description":"아래와 형식으로 입력해주세요.\n\n• category(null 허용)\n- ART, TRAVEL, FOOD,GAME,CULTURE,SPORT,STUDY,MOVIE\n\n• keyword(null 허용)\n- 검색을 원하는 키워드\n\n• sortBy\n- recent(최신순) , viewCount(조회수) , distance(거리순)\n- 처음 접속했을 때 모든 기준 초기값 : 거리순\n\nex)\nART / 모임 / recent\n아무것도 넣지 않고, 검색하면 거리순\n","operationId":"searchGroups","parameters":[{"name":"category","in":"query","required":false,"schema":{"type":"string"}},{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"string","default":"distance"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":10,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/groups/getMy":{"get":{"tags":["group-api-controller"],"summary":"내가 속한 모임 조회","description":"내가 속한 모임을 조회합니다.","operationId":"getMyGroups","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/groups/getLeaderMy":{"get":{"tags":["group-api-controller"],"summary":"내가 리더 역할인 모임 조회","description":"내가 리더 역할인 모임을 조회합니다.","operationId":"getLeaderMyGroups","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/groupBookmarks":{"get":{"tags":["group-bookmark-api-controller"],"operationId":"getAllGroupBookmarks","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GroupBookmarkDTO"}}}}}}}},"/api/groupBookmarks/getBookMarks":{"get":{"tags":["group-bookmark-api-controller"],"summary":"내 즐겨찾기 조회","description":"내가 즐겨찾기한 모임 내용을 조회합니다.","operationId":"getBookMarks","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/follows/status/following":{"get":{"tags":["follow-api-controller"],"summary":"팔로잉 여부 확인","description":"특정 사용자에 대한 자신의 팔로잉 여부를 확인합니다.","operationId":"isFollowing","parameters":[{"name":"target","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/follows/status/follower":{"get":{"tags":["follow-api-controller"],"summary":"팔로워 여부 확인","description":"특정 사용자가 자신을 팔로우 했는지를 확인합니다.(팔로워 여부)","operationId":"isFollower","parameters":[{"name":"target","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/follows/followings":{"get":{"tags":["follow-api-controller"],"summary":"팔로잉 조회","description":"팔로잉 목록을 조회합니다.","operationId":"getFollowings","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/follows/followers":{"get":{"tags":["follow-api-controller"],"summary":"팔로워 조회","description":"팔로워 목록을 조회합니다.","operationId":"getFollowers","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/follows/count/followings":{"get":{"tags":["follow-api-controller"],"summary":"팔로잉 수 조회","description":"팔로잉 수를 조회합니다.","operationId":"countFollowings","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/follows/count/followers":{"get":{"tags":["follow-api-controller"],"summary":"팔로워 수 조회","description":"팔로워 수를 조회합니다.","operationId":"countFollowers","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/contents":{"get":{"tags":["content-api-controller"],"summary":"컨텐츠 목록 조회","operationId":"getAllContents","parameters":[{"name":"category","in":"query","description":"카테고리 필터","required":false,"schema":{"type":"string","enum":["THEATER","DANCE","POP_DANCE","CLASSIC","GUKAK","POP_MUSIC","MIX","MAGIC","MUSICAL","TOUR","CULTURE","SPORTS"]}},{"name":"guname","in":"query","description":"지역구","required":false,"schema":{"type":"string","description":"지역구","example":"강남구"},"example":"강남구"},{"name":"startDate","in":"query","description":"시작일","required":false,"schema":{"type":"string","format":"date","description":"시작일","example":"2025-07-01"},"example":"2025-07-01"},{"name":"endDate","in":"query","description":"종료일","required":false,"schema":{"type":"string","format":"date","description":"종료일","example":"2025-12-31"},"example":"2025-12-31"},{"name":"sortBy","in":"query","description":"정렬 기준","required":false,"schema":{"type":"string","enum":["bookmarkCount","endDate","distance"]}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":10,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/contents/{id}":{"get":{"tags":["content-api-controller"],"summary":"컨텐츠 상세 조회","operationId":"getContent","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/chats/{roomId}/{type}/history":{"get":{"tags":["chat-api-controller"],"summary":"채팅 기록 조회","description":"팀의 이전 채팅 내용을 조회합니다.","operationId":"getChatHistory","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"type","in":"path","required":true,"schema":{"type":"string","enum":["GROUP_CHAT","PERSONAL_CHAT"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/chatRooms/rooms/my":{"get":{"tags":["chat-room-api-controller"],"summary":"개인 채팅방 조회","description":"로그인 한 사용자의 개인 채팅방을 조회합니다.","operationId":"getMyPersonalChatRooms","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/calendars/monthly":{"get":{"tags":["calendar-api-controller"],"summary":"월별 일정 조회","description":"선택한 년도와 월에 해당하는 모든 일정을 조회합니다.","operationId":"getMonthlyCalendar","parameters":[{"name":"year","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"month","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/calendars/daily":{"get":{"tags":["calendar-api-controller"],"summary":"일별 일정 조회","description":"선택한 날짜로 일정을 조회합니다.","operationId":"getDailyCalendar","parameters":[{"name":"year","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"month","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"day","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/calendars/daily/content":{"get":{"tags":["calendar-api-controller"],"summary":"컨텐츠 일별 일정 조회","description":"선택한 날짜로 컨텐츠 일정만 조회합니다.","operationId":"getDailyCalendarForContent","parameters":[{"name":"year","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"month","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"day","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/calendars/content":{"get":{"tags":["calendar-api-controller"],"summary":"일정 등록한 컨텐츠 조회","description":"캘린더에 일정 등록한 컨텐츠를 조회합니다.","operationId":"getCalendarForContent","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/admin/users":{"get":{"tags":["admin-user-api-controller"],"operationId":"getAllUsers","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/admin/users/{email}":{"get":{"tags":["admin-user-api-controller"],"operationId":"getUser_1","parameters":[{"name":"email","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}},"/api/admin/users/nickname/{nickname}":{"get":{"tags":["admin-user-api-controller"],"operationId":"getIUserByNickname","parameters":[{"name":"nickname","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}}}}},"components":{"schemas":{"UserInfoRequest":{"type":"object","properties":{"address":{"type":"string"},"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"},"birthDate":{"type":"string"},"gender":{"type":"string","enum":["MALE","FEMALE"]},"isMarketingAgreed":{"type":"boolean"}},"required":["address","birthDate","gender","isMarketingAgreed","latitude","longitude"]},"ApiResponse":{"type":"object","description":"공통 응답 DTO","properties":{"code":{"type":"string","description":"서비스 정의 코드","example":2000},"message":{"type":"string","description":"응답 메시지","example":"성공적으로 처리되었습니다."},"reason":{"type":"string","description":"에러 사유","example":"정지 사유 : 욕설 및 비방 "},"data":{"type":"string","description":"응답 데이터"}}},"ProfileRequest":{"type":"object","properties":{"image":{"type":"string","format":"binary"},"imageChanged":{"type":"boolean"},"introduction":{"type":"string"},"hashTags":{"type":"array","items":{"type":"string"}}},"required":["imageChanged"]},"PreferenceRequest":{"type":"object","properties":{"contentPreferences":{"type":"array","items":{"type":"string","enum":["THEATER","DANCE","POP_DANCE","CLASSIC","GUKAK","POP_MUSIC","MIX","MAGIC","MUSICAL","TOUR","CULTURE","SPORTS"]},"uniqueItems":true},"groupPreferences":{"type":"array","items":{"type":"string","enum":["ART","TRAVEL","FOOD","GAME","CULTURE","SPORT","STUDY","MOVIE"]},"uniqueItems":true}},"required":["contentPreferences","groupPreferences"]},"NotificationDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"email":{"type":"string","maxLength":255,"minLength":0},"message":{"type":"string","maxLength":255,"minLength":0},"link":{"type":"string","maxLength":255,"minLength":0},"isRead":{"type":"boolean"}}},"NoticeDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"message":{"type":"string","maxLength":255,"minLength":0}}},"MessageDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"content":{"type":"string","maxLength":255,"minLength":0},"readAt":{"type":"string","format":"date-time"},"sender":{"type":"string","maxLength":255,"minLength":0},"receiver":{"type":"string","maxLength":255,"minLength":0},"isRead":{"type":"boolean"}},"required":["receiver","sender"]},"GroupRequest":{"type":"object","properties":{"title":{"type":"string"},"explain":{"type":"string"},"simpleExplain":{"type":"string"},"placeName":{"type":"string"},"groupDate":{"type":"string","format":"date-time"},"address":{"type":"string"},"category":{"type":"string","enum":["ART","TRAVEL","FOOD","GAME","CULTURE","SPORT","STUDY","MOVIE"]},"maxPeople":{"type":"integer","format":"int32","maximum":10,"minimum":2},"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"},"image":{"type":"string","format":"binary"},"hashTags":{"type":"array","items":{"type":"string"}},"during":{"type":"integer","format":"int32","minimum":1}},"required":["address","category","explain","groupDate","hashTags","latitude","longitude","placeName","simpleExplain","title"]},"GroupHashtagDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"tag":{"type":"string","maxLength":255,"minLength":0},"group":{"type":"integer","format":"int64"}}},"FaqUpdateRequest":{"type":"object","properties":{"question":{"type":"string","maxLength":255,"minLength":0},"answer":{"type":"string","maxLength":5000,"minLength":0}},"required":["answer","question"]},"ContentCategoryDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"category":{"type":"string","enum":["THEATER","DANCE","POP_DANCE","CLASSIC","GUKAK","POP_MUSIC","MIX","MAGIC","MUSICAL","TOUR","CULTURE","SPORTS"]}}},"ContactRequest":{"type":"object","properties":{"title":{"type":"string"},"content":{"type":"string"},"category":{"type":"string","enum":["GENERAL","REPORT"]},"images":{"type":"array","items":{"type":"string","format":"binary"},"maxItems":5,"minItems":0},"imagesChanged":{"type":"boolean"}},"required":["category","content","imagesChanged","title"]},"ChatBotDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"email":{"type":"string","maxLength":255,"minLength":0},"groupSummary":{"type":"string","maxLength":255,"minLength":0},"contentSummary":{"type":"string","maxLength":255,"minLength":0},"type":{"type":"string","enum":["CONTENT","GROUP"]}}},"NicknameRequest":{"type":"object","properties":{"nickname":{"type":"string","pattern":"^[가-힣a-zA-Z0-9]{2,10}$"}},"required":["nickname"]},"VerifyCodeRequest":{"type":"object","properties":{"code":{"type":"string","pattern":"^[0-9]{6}$"}},"required":["code"]},"SignupRequest":{"type":"object","properties":{"email":{"type":"string"},"password":{"type":"string","pattern":"^(?=.*[A-Za-z])(?=.*\\d)(?=.*[!@#$%^&*()_+\\-=\\[\\]{};':\"\\\\|,.<>/?]).{8,20}$"},"confirmPassword":{"type":"string"},"nickname":{"type":"string","pattern":"^[가-힣a-zA-Z0-9]{2,10}$"},"address":{"type":"string"},"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"},"birthDate":{"type":"string"},"gender":{"type":"string","enum":["MALE","FEMALE"]},"isMarketingAgreed":{"type":"boolean"}},"required":["address","birthDate","email","gender","isMarketingAgreed","latitude","longitude","nickname","password"]},"ReportRequest":{"type":"object","properties":{"reportedUserEmail":{"type":"string"},"reason":{"type":"string"},"reportType":{"type":"string","enum":["CHAT","POST"]},"targetId":{"type":"integer","format":"int64"}},"required":["reason","reportType","reportedUserEmail","targetId"]},"FaqCreateRequest":{"type":"object","properties":{"question":{"type":"string","maxLength":255,"minLength":0},"answer":{"type":"string","maxLength":5000,"minLength":0}},"required":["answer","question"]},"CalendarContentRequest":{"type":"object","properties":{"activityId":{"type":"integer","format":"int64"},"selectedDate":{"type":"string","format":"date-time"}},"required":["activityId","selectedDate"]},"LoginRequest":{"type":"object","properties":{"email":{"type":"string"},"password":{"type":"string"},"rememberMe":{"type":"boolean"}},"required":["email","password"]},"ChangePasswordRequest":{"type":"object","properties":{"password":{"type":"string","pattern":"^(?=.*[A-Za-z])(?=.*\\d)(?=.*[!@#$%^&*()_+\\-=\\[\\]{};':\"\\\\|,.<>/?]).{8,20}$"},"confirmPassword":{"type":"string"}},"required":["password"]},"CalendarUpdateRequest":{"type":"object","properties":{"selectedDate":{"type":"string","format":"date-time"}},"required":["selectedDate"]},"GroupBookmarkDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"email":{"type":"string","maxLength":255,"minLength":0},"group":{"type":"integer","format":"int64"}},"required":["group"]}},"securitySchemes":{"bearerAuth":{"type":"http","description":"JWT 토큰을 입력하세요. Bearer 는 생략하세요.","name":"bearerAuth","scheme":"bearer","bearerFormat":"JWT"}}}}