.rbc-calendar{
    height: 100% !important;
}
.rbc-row-content {
    height: 100%;
}
.rbc-row {
    margin-bottom: 0;
    height: 37px;
}
.rbc-row-content .rbc-row:first-child {
    margin-bottom: 0;
}
.rbc-date-cell {
    padding: 0;
}
.rbc-date-cell .rbc-button-link {
        padding-top: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
}