@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

/* default mode */
@theme {
  /* Grayscale */
  --color-black: #121212;
  --color-gray-8: #151515;
  --color-gray-7: #1a1a1a;
  --color-gray-6: #1f1f1f;
  --color-gray-5: #292929;
  --color-gray-4: #313131;
  --color-gray-3: #888888;
  --color-gray-2: #b0b0b0;
  --color-gray-1: #d0d0d0;
  --color-white: #f2f2f2;
  --color-text: #7f74ff;

  /* text */
  /* 강조색은 그라디언트 색 사용해 주세요 */
  --color-gray-default: #ffffff;
  --color-gray-sub: #f6f6f6;
  --color-gray-sub-opacity: rgba(102, 102, 102, 0.4);
  --color-gray-disabled: #5e5e5e;
  --color-gray-disabled-opacity: rgba(153, 153, 153, 0.4);
  --color-gray-hover-link-text: #333333;

  /* Links & Accent */
  --color-link: #1cebb9;

  --color-main: #1cebb9;

  --color-bg-color: #121212;

  --color-sidebar-button: #2c2c2c;

  --color-footer-bg: #1c1c1c;
}

/* dark theme */
.dark {
}

/* Gradient color */
.gradient-border {
  border: 1px solid transparent;
  border-radius: 30px;
  background:
    linear-gradient(#2a2a2a, #2a2a2a) padding-box,
    linear-gradient(#1cebb9, #7f74ff) border-box;
}
.gradient-text {
  background-image: linear-gradient(to right, #1cebb9, #7f74ff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
