@import './colors.css';
@import './fonts.css';

html,
body {
  @apply bg-bg-color;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

@layer components {
  .signup-btn {
    @apply hover:bg-main hover:text-gray-hover-link-text w-full max-w-150 rounded-[10px] bg-[#292929] p-3 text-2xl font-bold text-[#8d8d8d] disabled:bg-[#313131] disabled:text-[#c0c0c0] lg:py-6;
  }

  .signup-bg {
    @apply lg:bg-gray-7 flex min-h-screen w-full flex-col items-center bg-[#121212] px-4 pt-8 text-[#8d8d8d] lg:w-1/2 lg:justify-center;
  }
}

#__next {
  z-index: 0;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

body.modal-open::-webkit-scrollbar {
  display: none;
}
body.modal-open {
  overflow: hidden;               
  scrollbar-width: none;         
  -ms-overflow-style: none;       
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #1f1f1f;
}

::-webkit-scrollbar-thumb {
  background: #4f4f4f;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6f6f6f;
}
